app-sidebar{
    text-align: center;
    margin-top: 50px;
}

.main-body{
    margin:3px;
}

.row{
    margin: 3px;
    min-height:500px;
}

.col-2{
    background-color:lightgrey;
    border-radius: 5px;
}

.col-10{
    background-color:lightcyan;
    border-radius: 5px;
}

app-footer{
    margin-bottom:5px;
    text-align: center;
}

router-outlet{
    text-align: center;
    margin: 3px;
    font-size: 2em;
}