<div class="row">
    <div class="col-6">
        <h1>Sign up</h1>
        <hr />
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label>Username</label>&nbsp;
            <input formControlName='username' type="text"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" /><br />
            <div *ngIf=" f.username.errors" class="error">
                <div *ngIf="submitted && f.username.errors.required">Username is required</div>
                <div *ngIf="f.username.errors.minlength">Username should have minimum 3 characters </div>
            </div>
            <label>Email Address</label>&nbsp;
            <input formControlName='email' type="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" /><br />
            <div *ngIf="f.email.errors" class="error">
                <div *ngIf="submitted && f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
            <label>Mobile No.</label>&nbsp;
            <input formControlName='phone' type="text"
                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" /><br />
            <div *ngIf="f.phone.errors" class="error">
                <div *ngIf="submitted && f.phone.errors.required">Phone No. is required</div>
                <div *ngIf="f.phone.errors.pattern">Mobile no. should have 10 digits.</div>
            </div>
            <label>Password</label>&nbsp;
            <input formControlName='password' type="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" /><br /><br />
            <div *ngIf="f.password.errors" class="error">
                <div *ngIf="submitted && f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.passwordError">password should contain one upper case, one digit and one special
                    characters and at least 8 character long.</div>
            </div>
            <input [disabled]="loading" type="submit" value="submit" />&nbsp;&nbsp;
            <input type="reset" value="reset" />
        </form>
    </div>

    <div class="col-6">
        <ul>
            <label>Username</label>
            <li>{{f.username.value}}</li><br />
            <label>Email</label>
            <li>{{f.email.value}}</li><br>
            <label>Phone</label>
            <li>{{f.phone.value}}</li>
        </ul>
    </div>

</div>